.title {
  width: 100%;
  margin-left: var(--p140);
  position: absolute;
  bottom: -34px;

  &__text {
    color: var(--color-header);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
