.pagination {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    p {
      color: var(--color-header);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;

      span {
        color: var(--color-header);
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  &__controllers {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    button {
      background: none;
      outline: none;
      border: none;
      width: 110px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      span {
        color: var(--color-header);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        transition: all 0.1s ease-in;
      }
    }

    &_prev {
      margin-right: 50px;
    }
  }

  &__arrow_next {
    transform: rotate(180deg);
  }
}

// media rules

@media (min-width: 768px) {
  .pagination {
    &__wrapper {
      margin: 100px 0;
    }

    &__block {
      width: 750px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__info {
      p {
        font-size: 18px;
        line-height: 22px;

        span {
          font-size: 22px;
        }
      }
    }

    &__controllers {
      margin-bottom: 0;

      button {
        span {
          font-size: 18px;
        }
      }

      &_next {
        margin-left: 50px;
      }

      &_prev {
        margin-right: 0;
      }

      &_next:hover span {
        font-size: 1.4rem;
      }

      &_prev:hover span {
        font-size: 1.4rem;
      }
    }
  }
}
