.pagination {
  &__wrapper {
    width: 1440px;
    // height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 10px;
    padding-top: 50px;

    background: rgb(32, 32, 32);
    background: -moz-linear-gradient(
      0deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 0.9150035014005602) 52%,
      rgba(32, 32, 32, 0.7861519607843137) 78%,
      rgba(32, 32, 32, 0.5228466386554622) 88%,
      rgba(32, 32, 32, 0.2847514005602241) 94%,
      rgba(32, 32, 32, 0.09427521008403361) 98%,
      rgba(32, 32, 32, 0) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 0.9150035014005602) 52%,
      rgba(32, 32, 32, 0.7861519607843137) 78%,
      rgba(32, 32, 32, 0.5228466386554622) 88%,
      rgba(32, 32, 32, 0.2847514005602241) 94%,
      rgba(32, 32, 32, 0.09427521008403361) 98%,
      rgba(32, 32, 32, 0) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(32, 32, 32, 1) 0%,
      rgba(32, 32, 32, 0.9150035014005602) 52%,
      rgba(32, 32, 32, 0.7861519607843137) 78%,
      rgba(32, 32, 32, 0.5228466386554622) 88%,
      rgba(32, 32, 32, 0.2847514005602241) 94%,
      rgba(32, 32, 32, 0.09427521008403361) 98%,
      rgba(32, 32, 32, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202020",endColorstr="#202020",GradientType=1);
  }

  &__block {
    width: 750px;
    // position: relative;
  }

  &__fixed {
    width: 750px;
    display: flex;
    justify-content: space-between;
    // position: fixed;
    // bottom: 10px;
  }

  &__info {
    p {
      color: var(--color-header);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;

      span {
        color: var(--color-header);
        font-weight: 700;
        font-size: 22px;
      }
    }
  }

  &__controllers {
    display: flex;
    justify-content: flex-end;

    button {
      background: none;
      outline: none;
      border: none;
      width: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      span {
        color: var(--color-header);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        transition: all 0.1s ease-in;
      }
    }

    &_next {
      margin-left: 50px;
    }

    &_next:hover span {
      font-size: 1.4rem;
    }

    &_prev:hover span {
      font-size: 1.4rem;
    }
  }

  &__arrow_next {
    transform: rotate(180deg);
  }
}
