.pagination {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 100px 0;
  }

  &__block {
    width: 750px;
    display: flex;
    justify-content: space-between;
  }

  &__info {
    p {
      color: var(--color-header);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  &__controllers {
    display: flex;
    justify-content: flex-end;

    button {
      background: none;
      outline: none;
      border: none;
      width: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      span {
        color: var(--color-header);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        transition: all 0.1s ease-in;
      }
    }

    &_next {
      margin-left: 50px;
    }

    &_next:hover span {
      font-size: 1.4rem;
    }

    &_prev:hover span {
      font-size: 2rem;
    }
  }

  &__arrow_next {
    transform: rotate(180deg);
  }
}
