.slider {
  background-color: var(--color-bg);
  width: 100%;
  height: 300px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: none;

  &__info {
    position: absolute;
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    span {
      color: var(--color-header);
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 1px 2px 4px #000;
    }

    &_year {
      margin-left: var(--p140);
      text-align: left;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0em;
    }

    &_title {
      margin-right: var(--p140);
      width: 700px;
      text-align: right;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 0, 1em;
    }
  }

  &__controlls {
    position: absolute;
    bottom: 0;
    padding-bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      background: none;
      outline: none;
      border: none;
      width: 140px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.1s ease-in;
      cursor: pointer;

      span {
        color: var(--color-header);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    &_prev {
      margin-left: var(--p140);
    }

    &_next {
      margin-right: var(--p140);
    }

    &_prev:hover {
      transform: translateX(-20px);
    }

    &_next:hover {
      transform: translateX(20px);
    }
  }

  &__arrow_next {
    transform: rotate(180deg);
  }
}

// media rules

@media (min-width: 768px) {
  .slider {
    width: 1350px;
    height: 690px;
    display: block;
  }
}
