.list__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.search__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 40px;

  &_item {
    padding: 12px 0;
    cursor: pointer;

    &:hover .item__block_left {
      margin-left: -10px;
      width: 500px;
    }

    &:hover .item__left_span {
      color: var(--color-header);
    }

    &:hover .item__right_span {
      color: var(--color-header);
    }
  }

  &_link {
  }
}

.item__block {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &_span {
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
  }

  &_left {
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s linear;

    span {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 20px;

    span {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.item__left_span {
  transition: all 0.2s linear;
}

// media rules

@media (min-width: 768px) {
  .search__list {
    width: 750px;
    margin-top: 150px;

    &_item {
      padding: 25px 0;

      &:hover .item__block_left {
        margin-left: -40px;
      }
    }
  }

  .item__block {
    &_left {
      span {
        font-size: 36px;
        line-height: 44px;
      }
    }

    &_right {
      padding-left: 0;

      span {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}
